# This file tells git which files or directories to ignore.
# This file is used to prevent certain files or directories from being tracked by git.
# For example, if you have a file or directory that you don't want to track, you can add it to this file.   
# Ignore all files in the "cache" directory
cache/*
# Ignore all files in the "logs" directory
logs/*
# Ignore all files in the "tmp" directory
tmp/*
# Ignore all files in the "vendor" directory
vendor/*
# Ignore all files in the "node_modules" directory
node_modules/*
*/node_modules/*
# Ignore python cache files
__pycache__/*
# Ignore python environment files
.env
.venv
venv/*
pnpm-lock.json
pnpm-lock.yaml


.next/*
.nuxt/*
.output/*
.serverless/*`