<footer class="bg-[var(--laynel-color-text-base)] p-3 text-gray-200">
  <div class="min-h-10 mx-auto max-w-7xl">
    <div class="flex justify-center gap-2 text-[14px]">
      <span
        >©
        <!-- -->2024</span
      ><span
        ><a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-[14px] text-gray-200"
          tabindex="0"
          role="link"
          href="/"
          >潦草屋</a
        ></span
      ><span
        ><a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-[14px] text-gray-200"
          tabindex="0"
          role="link"
          href="/sitemap.xml"
          rel="noopener noreferrer"
          target="_blank"
          >网站地图</a
        ></span
      ><span
        ><a
          class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 no-underline hover:opacity-80 active:opacity-disabled transition-opacity text-[14px] text-gray-200"
          tabindex="0"
          role="link"
          href="https://beian.miit.gov.cn/"
          rel="noopener noreferrer"
          target="_blank"
          >皖ICP备19024802号-3</a
        ></span
      >
    </div>
  </div>
</footer>
