<!DOCTYPE html>

<html>
    <%- include('./components/head'); -%>

    <body>

        <%- include('./components/header'); -%>
        <main class="root light max-w-7xl  min-h-[calc(100vh-90px)]">


        </main>

        <%- include('./components/footer'); -%>
    </body>
</html>