<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">
	<title>{% block title %}Laynel CMS Management System{% endblock %}</title>

	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
	<script src="{{ url_for('static', path='js/tailwindcss-3.4.15.min.js') }}"></script>


	{% block style %}

	{% endblock %}
	<script>

		tailwind.config = {
			theme: {
				extend: {
					colors: {
						clifford: '#da373d',
					}
				}
			}
		}
	</script>

	<style type="text/tailwindcss">
		@layer utilities {
			.content-wrapper {
				@apply max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8;
			}

		}
	</style>

	{% block head %}

	{% endblock %}


</head>

<body>
	{% block body %}

	{% include 'layout/header.html' %}
	{% include 'layout/sidebar.html' %}
	<main>
		{% block content %}
		<h1>Welcome to Laynel CMS Management System</h1>
		{% endblock %}
	</main>
	{% include 'layout/footer.html' %}


	{% block scripts %}

	{% endblock %}

	{% endblock %}

</body>

</html>