<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{{ url_for('main_static', path='favicon.ico') }}">
	<!-- <link rel="stylesheet" href="{{ url_for('main_static', path='libs/element-plus/element-plus@2.9.1.min.css') }}">
	<script  crossorigin="anonymous" src="{{ url_for('main_static', path='libs/vue/vue@3.5.13.min.js') }}"> </script>
    <script crossorigin="anonymous" src="{{ url_for('main_static', path='libs/element-plus/element-plus@2.9.1.min.js') }}"> </script> -->

	<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css"
  />
  <!-- Import Vue 3 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <!-- Import component library -->
  <script src="https://cdn.jsdelivr.net/npm/element-plus"></script>
	<title>{% block title %} {{ title }}{% endblock %}</title>
	{% block extra_head  %}
	{{ extra_head_str | safe | replace('\n', '') | replace('\t', '') }}
	{% endblock %}
	<script>
		window.context =  {{ context|tojson|safe }};
	</script>
	{% block head %}
	{% endblock %}
</head>

<body>
	{% block body %}
	{% include 'layout/header.html' %}
	{% include 'layout/sidebar.html' %}
	<main>
		{% block content %}
		<h1>Welcome to Laynel CMS Management System</h1>
		{% endblock %}
	</main>

	{% include 'layout/footer.html' %}
	{% endblock %}
	{% block scripts %}
	{{ script_str | safe | replace('\n', '') | replace('\t', '') }}
	{% endblock %}
</body>
</html>