<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{{ url_for(context.static, path='favicon.ico') }}">
	<title>{% block title %} {{ title }}{% endblock %}</title>


	<script src="{{ url_for(context.static, path='js/tailwindcss-3.4.15.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for(context.static, path='css/style.css') }}">


	<link rel="stylesheet" href="{{ url_for(context.static, path='css/element-plus-2.9.0.min.css') }}" />
	<link rel="modulepreload" crossorigin src="{{ url_for(context.static, path='js/vue/vue.global.3.15.prod.min.js') }}" >
	<link rel="modulepreload" crossorigin src="{{ url_for(context.static, path='js/ui/element-plus-2.9.0-min.js') }}" >


	{% block style %}

	{% endblock %}
	<script>

		tailwind.config = {
			theme: {
				extend: {
					colors: {
						clifford: '#da373d',
					}
				}
			}
		}


		window.context =  {{ context|tojson|safe }};
	</script>

	<style type="text/tailwindcss">
		@layer utilities {
			.content-wrapper {
				@apply max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8;
			}

		}
	</style>
	{% block head %}
	{% endblock %}
</head>

<body>
	{% block body %}

	{% include 'layout/header.html' %}
	{% include 'layout/sidebar.html' %}
	<main>
		{% block content %}
		<h1>Welcome to Laynel CMS Management System</h1>
		{% endblock %}
	</main>

	{% include 'layout/footer.html' %}
	{% endblock %}

	{% block scripts %}

	{% endblock %}
</body>

</html>